[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyobjc = "*"
rumps = "*"
pyaudio = "*"
scipy = "*"
numpy = "*"
soundfile = "*"
sounddevice = "*"
pyobjc-framework-coreaudio = "*"
requests = "*"
keyboard = "*"
pydub = "*"
py2app = "*"

[requires]
python_version = "3.9"
