[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = python src/main.py
compile = swiftc -o MultiOutputDeviceManager src/MultiOutputDeviceManager.swift

[packages]
pyobjc = "*"
pyaudio = "*"
scipy = "*"
numpy = "*"
soundfile = "*"
sounddevice = "*"
pyobjc-framework-coreaudio = "*"
requests = "*"
keyboard = "*"
pydub = "*"
py2app = "*"
rumps = "*"

[requires]
python_version = "3.9"
